$base-color: #00b4a3;

*,
a {
  padding: 0;
  margin: 0;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: grey;

  &:hover {
    text-decoration: none;
  }
}

%button {
  padding: 10px;
  font-size: 12px;
  flex: 1;
}

header {
  @media screen and (max-width: 768px) {
    display: none;
  }

  nav {
    width: 90%;
    padding: 10px;
    margin: auto;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Courgette', cursive;
      font-size: 34px;
      font-weight: 600;
      background: $base-color;
      height: 40px;
      width: 40px;
      color: whitesmoke;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .nav-links {
      display: flex;
      justify-content: space-evenly;
      color: $base-color;

      .nav-link {
        padding: 5px 40px;
        margin-left: 10px;
        border: 2px solid $base-color;
        color: $base-color;

        &:hover {
          background: $base-color;
          color: whitesmoke;
        }
      }
    }
  }
}

h2 {
  font-family: 'Caveat', cursive;
}

.main-content {
  height: 85vh;
  margin-top: -40px;
  padding: 50px;

  .title {
    font-size: 4rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    letter-spacing: 3px;
    line-height: 1;
  }

  .about-me {
    font-size: 18px;
    margin-top: 1rem;
  }

  @media screen and (max-width: 786px) {
    .title {
      font-size: 2.5rem;
      margin-top: 40px;
    }

    .about-me {
      font-size: 12px;
      margin-top: 1rem;
    }

    .stack {
      font-size: 1rem;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  .animation {
    height: 80vh;
    width: 50%;
    z-index: 1;
    background: url(../media/color.jpg) no-repeat center center;
    background-size: contain;
  }

  .cta {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .talk {
      @extend %button;

      background-color: $base-color;
      color: whitesmoke;
      border: none;
      margin-right: 10px;
      font-size: 14px;
      font-weight: 700;

      &:hover {
        color: $base-color;
        background: transparent;
        border: 2px solid $base-color;
        box-shadow: 2px 8px 15px #00b4a24d;
        scale: 1px;
      }
    }

    .portfolio {
      @extend %button;

      border: 2px solid $base-color;
      color: $base-color;
      font-size: 14px;
      font-weight: 700;
      background-color: transparent;

      &:hover {
        color: white;
        background: $base-color;
        box-shadow: 2px 8px 15px lightgray;
      }
    }
  }
}

.social {
  display: flex;
  margin-top: 30px;

  a {
    transition: transform 200ms ease-in;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.projects-container {
  background: whitesmoke;
  justify-content: center;

  .projects-list {
    width: 90%;
    margin: auto;
  }

  .projects-header {
    color: $base-color;
    padding: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 700;
  }

  .project-item {
    padding: 20px;
  }

  .project {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 200ms ease-in;

    .project-info {
      margin: 10px;
      padding: 10px;
    }

    img {
      object-fit: fill;
      max-height: 230px;
      width: 100%;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 0px;
    }

    h3 {
      padding-top: 15px;
      color: black;
    }

    .build-info {
      display: flex;
      width: 100%;
      margin: auto;
    }

    .project-link {
      margin-bottom: 30px;
    }

    &:hover {
      box-shadow: 2px 8px 15px lightgray;
      transform: scale(1.07);
    }
  }

  .project-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    margin: 0px;

    a {
      text-decoration: none;

      p,
      h3 {
        color: grey;
      }
    }
  }
}

.footer-info {
  padding: 50px;

  p {
    font-size: 1.4rem;
    color: grey;

    .talk {
      color: $base-color;
      cursor: pointer;
      font-family: 'Caveat', cursive;

      &:hover {
        color: salmon;
      }
    }

    @media screen and (max-width: 500px) {
      p {
        font-size: 300px;
      }
    }
  }
}
